.ListItemsHandle {
    width: 225px;
    height: 120px;
    background-color: var(--main-color);
    margin-right: 10px !important;
    overflow: hidden;
    cursor: pointer;  
    color: white;
    .sliderImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
    width: 325px;
    height: 300px;
    position: absolute;
    top: -150px;
    -webkit-box-shadow: -1px 2px 15px 5px rgba(255,255,255,0.3); 
    box-shadow: -1px 2px 15px 5px rgba(255,255,255,0.3);
    border-radius: 5px;
    .sliderImg {
        height: 140px;
    }
    .itemInfo{
    display: flex;
    flex-direction: column;
    padding: 10px;
    }
    .icons {
        display: flex;
        margin-bottom: 10px;
        .icon {
            border: 2px solid white ;
            padding: 5px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
    .itemsInfoTextLT{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        color: gray ;
        .Age {
        border: 1px solid gray;
        padding: 1px 3px;
        margin: 0 10px;
        }
    }
    .desc {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .genre {
        font-size: 14px;
        color: lightgray;
    }
    }
  }