 .btnEdit {
   color: white !important;
   border: 2px solid white !important;
   width: 100% !important;
   height: 30px;
   background-color: black !important;
 }
 .btnEdit2 {
   color: white !important;
   background-color: black !important;
 }
 .containeer {
   color: white;
 }
.colors {
   color: white;
 }